<% title "Services" %>

<ul>
<% for service in @services %>
  <li>
      <h3><%=h service.name %></h3>
      <p><%=h service.description %></p>
      <p>
      <% if can? :create, Service %>
      <%= link_to "Edit", edit_service_path(service) %> | 
      <% end %>
      <% if can? :delete, Service %>
      <%= link_to "Destroy", service, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </p>
  </li>
<% end %>
</ul>

<% if can? :create, Service %>
<p><%= link_to "New Service", new_service_path %></p>
<% end %>
