<% title "Service" %>

<p>
  <strong>Name:</strong>
  <%=h @service.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @service.description %>
</p>

<p>
  <% if can? :create, Service %>
  <%= link_to "Edit", edit_service_path(@service) %> |
  <% end %>
  <% if can? :delete, Service %>
  <%= link_to "Destroy", @service, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", services_path %>
</p>
