<% title "User" %>

<p>
  <strong>Username:</strong>
  <%=h @user.username %>
</p>
<p>
  <strong>Password:</strong>
  <%=h @user.password %>
</p>

<p>
  <% if can? :update, User %>
  <%= link_to "Edit", edit_user_path(@user) %> | 
  <% end %>
  <% if can? :delete, User %>
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> | 
  <% end %>
  <%= link_to "View All", users_path %>
</p>
