<% title "News" %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
  <% for news in @news %>
    <tr>
      <td><%=h news.title %></td>
      <td><%=h news.content %></td>
      <td><%= link_to "Show", news_instance_path(news) %></td>
      <td><%= link_to "Edit", edit_news_instance_path(news) %></td>
      <td><%= link_to "Destroy", news_instance_path(news), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New News", new_news_instance_path %></p>
