<% title "News" %>
<ul>
  <% for news in @news %>
   <li>
      <h5><%= link_to h(news.title), news_instance_path(news)  %></h5>
      <p><%= simple_format_truncate_words(news.content, 50," ... " +link_to( "Detail", news_instance_path(news) ) ) %></p>
      <p>
        <% if can? :update, News %>
        <%= link_to "Edit", edit_news_instance_path(news) %> | 
        <% end %>
        <% if can? :delete, News %>
        <%= link_to "Destroy", news_instance_path(news), :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </p>
   </li>
  <% end %>
</ul>
<% if can? :create, News %>
<p><%= link_to "New News", new_news_instance_path %></p>
<% end %>
