<% title 'Contact', false %>
<div class="grid_12">
	<div id="contact">
		<h1>Contact</h1>
		<p>if you want to find how i can help your businees, feel free to contact me by email at <%= mail_to @email.value, nil, :replace_at => "_at_", :replace_dot => "_dot_", :class => "email"%> </p>
		<p>or by filling the contact form below</p>
	</div>
</div>
<div class="clear"></div>
<div class="grid_12">
	<div id="contact_form">
		<h3>Send Message By Email</h3>
		<% form_for :contact, :url => {:action => "contact"} do |f| %>
		<%= f.error_messages %>
		  <div>
		    <%= f.label :name, "Your Name :" %><br />
		    <%= f.text_field :name %>
		  </div>
		  <div>
		    <%= f.label :email, "Your Email :" %><br />
		    <%= f.text_field :email %>
		  </div>
		  <div>
		    <%= f.label :message, "Your Message :" %><br />
		    <%= f.text_area :message, :cols => 30 %>
		  </div>
		  <div>
		    <%= f.submit 'Send Message' %>
		  </div>
		<% end %>
	</div>
</div>
<div class="clear"></div>