<% title "Images" %>

  <% for image in @images %>
    <div>
      <%=h image.name  %>
      <%= link_to image_tag(image.photo.url(:medium)), image %>
      <p>
      <% if can? :edit, Image %>
      <%= link_to "Edit", edit_image_path(image) %> | 
      <% end %>
      <% if can? :delete, Image %>
      <%= link_to "Destroy", image, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </p>
    </div>
  <% end %>

<% if can? :create, Image %>
<p><%= link_to "New Image", new_image_path %></p>
<% end %>
