<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'reset','text','960','site','application' %>
    <%= auto_discovery_link_tag(:rss, feed_url) %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container" class="container_12">
      	<% if current_user %>
		  <%= content_tag :div, "Admin Mode", :id => "admin_notification" %>
		<% end %>
      <%= render 'navigations/link' %>
	  
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
	<div class="clear"></div>
	Company &copy; <%= current_year -%>
    </div>
  </body>
</html>
